.Container.container {
    padding-top:40px;
    padding-bottom:40px;
}

/* .RedBoxes {
    background-color: red;
    padding:30px 0 30px 0;
}

.PurpleBoxes {
    background-color: violet;
    padding:30px 0 30px 0;
}

.GreenBoxes {
    background-color: chartreuse;
    padding:30px 0 30px 0;
}

.CircleOne, .CircleTwo, .CircleThree {
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto;
} */
/* .RedBoxes {
    background-color: red;
    padding:30px 0 30px 0;
}

.PurpleBoxes {
    background-color: violet;
    padding:30px 0 30px 0;
}

.GreenBoxes {
    background-color: chartreuse;
    padding:30px 0 30px 0;
}

.CircleOne, .CircleTwo, .CircleThree {
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto;
} */

.submitHeader {
  margin: 60px 0;
}

.submitHeader h1 {
  font-size: 36px;
}

.submitHeader p {
  font-size: 18px;
}

.claimSteps {
  width: 350px;
  height: 285px;
  background-color: #2dccd3;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: table;
}

.claimStepNumber {
  margin-top: 40px;
  font-size: 38px;
  color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  display: table-cell;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.claimStepTitle {
  color: #ffffff;
  font-size: 18px;
  margin-top: 110px;
}
  
.claimStepText {
  text-align: center;
}

@media (min-width: 1200px) {
  .submitHeader {
     margin: 60px 40px;
  }
}

@media (max-width: 991px) {
  .claimSteps {
    margin: 30px auto;
  }
    
.submitHeader {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
  }
}