.PortfolioSlider.container-fluid {
    padding: 20px 0;
}

.PortfolioSlider {
    padding: 50px 0;
    text-align: center;
}

.PortfolioSlider h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.PortfolioBox {
    height: 300px;
    margin-bottom: 20px !important;
    border: 1px solid #000;
    background-color: brown;
    width: 100%;
    margin: 0 auto;
}

.PortfolioBox img {
    width: 100%;
}

.PortfolioText {
    margin: 15px 0 0 0;

}

.PortfolioText h2 {
    font-size: 20px;
    color: white;
}

.btn.btn-primary.btn-lg:hover {
    padding: .5rem 1rem;
}

.btn.btn-primary {
    padding: 5px 18px;
}

.btn.btn-primary:hover {
    padding: 5px 18px;
    color: red !important;
}

.openButton.btn.btn-primary {
    padding: 5px 15px;
    margin-top: 3px;
}