.ContactUs.container-fluid {
    padding: 20px 0;
}

.ContactUs {
    padding: 50px 0;
    text-align: center;
}

.ContactUs h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.Contact {
    padding:60px 0;
}

.ContactTitle span {
    font-weight: bold;
}

.ContactTitle span a {
    text-decoration: none;
    color: black;
}

.ContactTitle span a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

